<a href="https://colab.research.google.com/github/lu7-Research/Project-Learning-in-Python/blob/main/Aula_intro_alura_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula4.1/movies.csv"
filmes = pd.read_csv(uri)
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [8]:
filmes.columns = ["filmeId", "titulo", "genero"]
filmes.head()

   filmeId  ...                                       genero
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [9]:
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula1.2/ratings.csv"
notas = pd.read_csv(uri)
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
notas.columns = ["usuarioID", "filmeID", "nota", "momento"]
notas.head()

   usuarioID  filmeID  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [13]:
notas["nota"].head() #series

0    4.0
1    4.0
2    4.0
3    5.0
4    5.0
Name: nota, dtype: float64

In [14]:
notas["nota"].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [15]:
notas["nota"].mean

<bound method Series.mean of 0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64>

In [16]:
notas["nota"].min

<bound method Series.min of 0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64>

In [24]:
notas.describe().round(1)

       usuarioID   filmeID      nota       momento
count   100836.0  100836.0  100836.0  1.008360e+05
mean       326.1   19435.3       3.5  1.205946e+09
std        182.6   35531.0       1.0  2.162610e+08
min          1.0       1.0       0.5  8.281246e+08
25%        177.0    1199.0       3.0  1.019124e+09
50%        325.0    2991.0       3.5  1.186087e+09
75%        477.0    8122.0       4.0  1.435994e+09
max        610.0  193609.0       5.0  1.537799e+09